<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ get_url(path="css/index.css") }}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ get_url(path="img/favicon.ico") }}" sizes="32x32" />
    <link href="{{ get_url(path="feed.xml", trailing_slash=false) }}" type="application/atom+xml" rel="alternate" title="Moxxy Blog" />

    {% if page %} 
  	<meta property="og:description" content="{{ page.description }}" />
  	<meta property="og:title" content="{{ page.title }}" />
    <title>{{ page.title }}</title>
    {% else %}
  	<meta property="og:description" content="{{ config.description }}" />
  	<meta property="og:title" content="{{ config.title }}" />
    <title>{{ config.title }}</title>
    {% endif %}
  </head>
  <body>
    <div class="flex flex-col">
      {% include "header.html" %}

      {% block content %}{% endblock %}
    </div>

    <footer class="h-8 w-full flex flex-row justify-center">
      <span class="text-sm text-center">
	Made with &lt;3 by
	<a class="text-sky-400" href="https://polynom.me" target="_blank" rel="noopener noreferrer">PapaTutuWawa</a>
	using <a class="text-sky-400" href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer">TailwindCSS</a>,
	<a class="text-sky-400" href="https://jekyllrb.com/" target="_blank" rel="noopener noreferrer">Jekyll</a> and
	<a class="text-sky-400" href="https://heroicons.com/">heroicons</a>.
      </span>
    </footer>
  </body>
</html>
