<div class="relative h-16 inset-x-0 inset-y-0 px-4 shadow-md grid place-items-center">
    <div class="flex flex-row items-center w-full">
      <!-- The Moxxy logo -->
      <a href="{{ get_url(path="@/_index.md") }}">
        <img src="{{ get_url(path="img/logo.png") }}" class="w-12 h-12 p-2" />
      </a>
  
      <a href="{{ get_url(path="@/_index.md") }}">
        <span class="font-bold">Moxxy</span>
      </a>
  
      <!-- Spacer -->
      <div class="grow"></div>
  
      <a href="/blog/" class="px-2 text-sky-400">Blog</a>
      <a href="{{ get_url(path="@/developers.md") }}" class="px-2 text-sky-400">Developers</a>
      <a href="{{ config.extra.sourceUrl }}" class="px-2 text-sky-400">Source</a>
    </div>
  </div>