{% extends "base.html" %}

{% block content %}
<div class="w-full md:max-w-prose mt-2 mx-auto">
  <div class="px-8">
    <h1 class="text-3xl">{{ page.title }}</h1>
    <span>Posted by <span class="italic">{{ page.extra.author }}</span> on {{ page.date }}</span>
    <article class="mt-5 prose lg:prose-lg">
      {{ page.content | safe }}
    </article>
  </div>
</div>
{% endblock %}